@red: red;
@lightGray: #f5f5f5;
body{
}

h1{
    margin:0;
    
}
.home-container{
    //height: 100vh;
    padding:0;
}
.actionBar{
    position: absolute;
    bottom:0;
    width:100%;
    display:flex;
    justify-content: space-around;
    min-height: 48px;
    button, span, a{
        color:white;
        background-color: @red;
        flex-grow:1;
        display: flex;
        border:solid 1px @lightGray;
        i{
            margin:auto;
        }
    }
}

.menu-wrapper{
    background-color:@lightGray;
    height: 100vh;
}
.menu-container{
    margin-bottom:1rem;
        background-color: #F5F5F5;
// height:100vh;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    ul{
        margin: 1rem 0 0;
        padding: 0;
        border:solid 1px black;
            background-color: #fff;

        li{
            list-style-type: none;
            display:flex;
            align-content: space-between;
            // width: 100%;
            margin-bottom: 1rem;
            color: @red;
            text-transform: uppercase;
            span, .btn{
                // display:inline-block;
                // flex-basis:1;
                flex-grow: 1;
                // max-width: 40px;
                border:none;
            }
            .menuItemName{
                font-size: 2rem;
            }

            .btn{
                font-weight: bold;
                min-width: 40px;
                max-width: 40px;
            }
            // color: @red;
            // text-transform: uppercase;
            // list-style-type:none;
            // display: block;
            // position:relative;
            // font-size: 3rem;
            // height: 5rem;
            // line-height: 5rem;
            
            // span{
            //     position: absolute;
            //     top: 50%;
                
            //     transform: translateY(-50%);
            // }
            // .menuItemName{
            //     left:1rem;
            // }
            // .btn{
            //     display: inline-block;
            //     vertical-align: middle;
            // }

            // .menuItemControls{
            //     right: 1rem;
            //     .btn{
            //         display: inline-block;
            //         vertical-align: middle;
            //     }
            // }
        }
    }



}